.green{
    background-color: green;
}
.warning{
    background-color: orange;
}
.black{
    background-color: black;
    color: white;
    text-align: center;
}
.btn{
    border-radius: 15px;
    font-size: 10px;
    width: 10vw;
}
